node flow
[{"id":"b4f598f9.bf3f48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"aee9d3cd.2d76a","type":"http in","z":"b4f598f9.bf3f48","name":"","url":"/people","method":"get","upload":false,"swaggerDoc":"","x":90,"y":240,"wires":[["3b225f3f.3d306"]]},{"id":"3b225f3f.3d306","type":"switch","z":"b4f598f9.bf3f48","name":"Check image URL","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":283.5,"y":309.5,"wires":[["f601d2c7.9e27e"],["25fe79d2.952686"]]},{"id":"f601d2c7.9e27e","type":"template","z":"b4f598f9.bf3f48","name":"Prompt images","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta charset=\"utf-8\">\n        <title>Facial Recognnition through IBM Cloud &trade;</title>\n    </head>\n    <body style =\"background-color:black\">\n        <font face=\"Arial\" color=\"white\">\n            <h1 align=center>Facial Recognnition</h1>\n            <h2 align=center>Using IBM Cloud &trade;</h2>\n            <hr>\n                <h2 align=left><font color =\"red\">IBM Cloud can automatically guess anyone's* age and gender! </h2></font>\n                <h4 align=left>Right-click one of the above images and select Copy image location and paste the URL in the box below.</h4>\n                <h4 align=left>Do an image search for faces, try multiple faces. After you click on an image, to the right it usually says \"View image\" click that to get the URL</h4>\n                <hr>\n                <form  action=\"{{req._parsedUrl.pathname}}\">\n                         <img src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Kylie_Jenner2_%28cropped%29.png/220px-Kylie_Jenner2_%28cropped%29.png\" height='200'/>\n                        <img src=\"https://pbs.twimg.com/profile_images/1053055123193122816/IUwo6l_Q_400x400.jpg\" height='200'/>\n                        <img src=\"https://www.napratica.org.br/app/uploads/2017/08/destaque-trajetorias-1024x709.jpg\" height='200'/>\n                        <p align= left> Upon testing edge cases, we realize that the system currently works best only with Human faces and most likely would not work for example on the picture of an Animal or an animated character like Goku </p></p>\n                        <hr>\n                <p align = left><h2> <font color=\"red\"> Accessing this page on Mobile?</h2></p></font>\n                <p align = legt> Copy and paste the following link into the space below for a quick sample analysis:</p>\n                <p align = left>https://www.napratica.org.br/app/uploads/2017/08/destaque-trajetorias-1024x709.jpg</p>\n                <hr>\n                    <h2 align = center>Image URL:  <input type=\"text\" align= center name=\"imageurl\"/>\n                    <input type=\"submit\" value=\"Analyze\"/></h2>\n                </form>\n                <hr>\n                <p align = center><h5 align = center>Built By <a target=\"_blank\" style=\"color:red\" rel=\"noopener noreferrer\" href = \"https://www.linkedin.com/in/bhagirathbhard/\">Bhagirath Bhardwaj</A></h5></p>\n        </font>\n    </body>\n</html>","output":"str","x":540,"y":200,"wires":[["967751d2.c17ba"]]},{"id":"25fe79d2.952686","type":"change","z":"b4f598f9.bf3f48","name":"Extract image URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":543,"y":386.5,"wires":[["59c73ad.c1c61c4"]]},{"id":"59c73ad.c1c61c4","type":"visual-recognition-v3","z":"b4f598f9.bf3f48","name":"Detect Face","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"detectFaces","lang":"en","x":756,"y":416.25,"wires":[["7ac0e4b5.cb3d0c"]]},{"id":"7ac0e4b5.cb3d0c","type":"template","z":"b4f598f9.bf3f48","name":"Report faces","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1 align = center>IBM Cloud &trade; Image Analysis</h1>\n\n<!-- parse all images -->\n{{#result.images}}\n<hr>\n<p>Analyzed image: {{source_url}}<br/><img id=\"alchemy_image\" src=\"{{source_url}}\" height=\"300\"/></p>\n<hr>\n{{^faces}}\n<P>No Face detected!</P>\n{{/faces}}\n\n<table border='1'>\n<thead><tr><th>Age Range</th><th>Confidence level of Age</th><th>Gender</th><th>Confidence level of Gender</th></tr></thead>\n<!-- parse all faces -->\n{{#faces}}\n<tr>\n<td><b>{{age.min}} - {{age.max}}</b></td><td><i>{{age.score}}</i></td>\n<td>{{gender.gender}}</td><td>{{gender.score}}</td>\n</tr>{{/faces}}\n</table>\n{{/result.images}}\n<form action=\"{{req._parsedUrl.pathname}}\">\n<br><input type=\"submit\" value=\"Try again or go back to the home page\"/>\n</form>\n","x":918.5,"y":289.5,"wires":[["967751d2.c17ba"]]},{"id":"967751d2.c17ba","type":"http response","z":"b4f598f9.bf3f48","name":"","x":1128,"y":241.25,"wires":[]}]
